<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ project_name }} — Маршрутизатор</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body class="mode-{{ run_mode }}">
    {% include '_badges.html' %}

    {% set active_page = 'router' %}
    {% include '_menu.html' %}

    <div class="content">
      <h1>Маршрутизатор</h1>
    </div>
  </body>
</html>
